.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}
.btn {
  background: #d134d9;
  background-image: -webkit-linear-gradient(top, #d134d9, #566873);
  background-image: -moz-linear-gradient(top, #d134d9, #566873);
  background-image: -ms-linear-gradient(top, #d134d9, #566873);
  background-image: -o-linear-gradient(top, #d134d9, #566873);
  background-image: linear-gradient(to bottom, #d134d9, #566873);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 0px 3px 3px #0a0a0a;
  -webkit-box-shadow: 0px 4px 5px #666666;
  -moz-box-shadow: 0px 4px 5px #666666;
  box-shadow: 0px 4px 5px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 24px 10px 24px;
  border: solid #00558a 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #040b0f);
  background-image: -moz-linear-gradient(top, #fc3c3c, #040b0f);
  background-image: -ms-linear-gradient(top, #fc3c3c, #040b0f);
  background-image: -o-linear-gradient(top, #fc3c3c, #040b0f);
  background-image: linear-gradient(to bottom, #fc3c3c, #040b0f);
  text-decoration: none;
}
